*{
  font-family: 'Inter', sans-serif;
}

.nev{
  width: 100%;
}


@media  (max-width: 768px){
  .nev {
    font-size: 0.5em;
    align-items: center;
    height: auto;
    text-align: center;
     }
}
  .rect{
    width: 90%;    
    margin: 2%;
    background: linear-gradient(180deg, #26CAA2 0%, #1885A8 100%);
    border-radius: 28px;
  }
  @media (max-width: 768px) {
    .rect .txt {
        font-size: 1.2em;
        font-weight: 400; 
        height: auto;
    }
}
  .square{
    width: 90%; 
    height: 500px;
    max-width: 850px; 
    margin:2%;
    background: linear-gradient(180deg, #26CAA2 0%, #1885A8 100%);
    border-radius: 33px;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow:auto;
    border: black 2px solid;

  }
  
  @media (max-width: 768px) {
    .square .parent {
        flex-direction: row;
        font-size: 1em; /* Change to column layout on smaller screens */
        /* height: 700px; */
    }
}
.paisa{
  width:650px;
}
@media (max-width: 768px) {
  .paisa {
      display: none;/* Change to column layout on smaller screens */
  }
}
  .img{
  position: absolute;
  top: 2%;
  left: 2%;
  width: 95%;
  height: 95%;
  padding: 2%;
  object-fit: contain;

  }

  .imgn{
    align-items: center;
  }
.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  overflow-y: auto; 
  height: 100%; 
}

#k{
  margin-bottom: 3%;
}

.mutual-funds-scroll {
  max-height: 100%; /* Set a maximum height for MutualFundsDashboard */
}
.parent{
  display: flex;
flex-direction: row;
/* flex-wrap: wrap; */
}
.txt{
  padding: 20px;
  font-size: 3.7em;
  font-weight:800;
  line-height: 1.2em;
}
.rect3{
  width: 50%;     
  padding: 2%;
  margin: 2%;
  background: linear-gradient(180deg, #26CAA2 0%, #1885A8 100%);
  border-radius: 28px;
  border: 3px solid #023047;
}
.parent2{
  display: flex;
  justify-content: center;
}
.contentInv{
  color:#fff;
  display: flex;
  gap: 2%;
}
.contentInvTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.contentInvTable th, .contentInvTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.contentInvTable th {
  background-color: #f2f2f2;
}
.contentInvTable  {
  margin: 0;
}
#h{
   color: rgb(122, 15, 15);
}